.DS_Store
Movies
Desktop
Documents
Downloads
Library
Music
Pictures
Projects
Public
.account
.bash_history
.ssh/id_rsa*
.esets
.CFUserTextEncoding
.ssh/known_hosts
.vagrant.d
.composer
.gem
Virtualbox VMs
!.vagrant.d/Vagrantfile
.lesshst
.Trash
.npm
.cache
.node-gyp
Applications
.dnx
.codeintel
.config
