[alias]
	ci = commit -m
	co = checkout
	cont = rebase --continue
	re = pull --rebase --ff-only
	amend = !git add -p && git commit --amend
[user]
	name = Jeff Hubbard
	email = lord2800@gmail.com
[push]
	default = simple
