[alias]
	ci = commit -m
	co = checkout
	cont = rebase --continue
	re = pull --rebase --ff-only upstream master
	rf = pull --rebase --ff-only
	up = pull --rebase --ff-only upstream
	fall = fetch --all --prune
	amend = !git add -p && git commit --amend
	p = push
[user]
	name = Jeff Hubbard
	email = lord2800@gmail.com
[push]
	default = simple
